

.dots {
   width: 56px;
   height: 26.9px;
   background: radial-gradient(circle closest-side,#ee141f 90%,#0000) 0%   50%,
          radial-gradient(circle closest-side,#ee141f 90%,#0000) 50%  50%,
          radial-gradient(circle closest-side,#ee141f 90%,#0000) 100% 50%;
   background-size: calc(100%/3) 13.4px;
   background-repeat: no-repeat;
   animation: dots-7ar3yq 0.8s infinite linear;
}

@keyframes dots-7ar3yq {
   20% {
      background-position: 0%   0%, 50%  50%,100%  50%;
   }

   40% {
      background-position: 0% 100%, 50%   0%,100%  50%;
   }

   60% {
      background-position: 0%  50%, 50% 100%,100%   0%;
   }

   80% {
      background-position: 0%  50%, 50%  50%,100% 100%;
   }
}



.poppins-400{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.poppins-500{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.poppins-900{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
.poppins-italic{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
/* MENU LIST STYLE */
.menuList{
  transition: .5s ease-in-out;
  z-index: 1;
}
.menuList::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: -1;
  transition: .5s ease-in-out;
}
.menuList:hover::before{
  width: 100%;
}
.menuListFunclub{
  transition: .5s ease-in-out;
  z-index: 1;
}
.menuListFunclub::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fe7f7f;
  z-index: -1;
  transition: .5s ease-in-out;
}
.menuListFunclub:hover::before{
  width: 100%;
}

/* MENU LIST STYLE END */
.rotateAnimation{
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.slide-animation{
  animation: slide-animation 10s infinite linear;
}

@keyframes slide-animation {
	0% {
		transform: translateX(0);
  }
  15% {
		transform: translateX(100px);
	}
  30% {
		transform: translateX(100px);
	}
  40% {
		transform: translateX(0);
	}
  60% {
		transform: translateX(0);
	}
  80% {
		transform: translateX(0);
	}
  90% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(0);
	}
}
.slide-animation2{
  animation: slide-animation-2 10s infinite linear;
}
@keyframes slide-animation-2 {
	0% {
		left: -100px;
		transform: rotate(85deg);
  }
  15% {
		left: -100px;
		transform: rotate(85deg);
	}
  30% {
		left: 68px;
		transform: rotate(85deg);
	}
  40% {
		left: 68px;
		transform: rotate(85deg);
	}
  60% {
		left: 68px;
		transform: rotate(85deg);
	}
  80% {
		left: 68px;
		transform: rotate(-85deg);
	}
  90% {
		left: -100px;
		transform: rotate(-85deg);
	}
	100% {
		left: -100px;
		transform: rotate(-85deg);
	}
}

